## Logistic Regression

### 라이브러리

In [1]:
import numpy as np
import pandas as pd

### git push

In [2]:
git_push_list = ["3_LogisticRegression.ipynb"]
for git in git_push_list:
    temp = !cat .gitignore | grep $git
    if len(temp) == 0:
        push = "!/" + git
        !echo $push >> .gitignore

### 내용

In [3]:
raw_data = {'name' : ['kevin','sally','hoyeon','lux'], \
           'height' : [178.2, 162.9, 160.6, 156.2], \
           'gender' : ['male', 'female', 'female', None]}

pd_data = pd.DataFrame(raw_data)
pd_data.head()

     name  height  gender
0   kevin   178.2    male
1   sally   162.9  female
2  hoyeon   160.6  female
3     lux   156.2    None

In [4]:
filtered_data = pd_data.dropna()
filtered_data.head()

     name  height  gender
0   kevin   178.2    male
1   sally   162.9  female
2  hoyeon   160.6  female

In [5]:
del(filtered_data['name'])
filtered_data.head()

   height  gender
0   178.2    male
1   162.9  female
2   160.6  female

In [6]:
female_mean = np.average(filtered_data[filtered_data['gender'] == 'female']['height'].values)
male_mean = np.average(filtered_data[filtered_data['gender'] == 'male']['height'].values)
print(female_mean, male_mean)

161.75 178.2

In [7]:
np.random.seed(0)
variance = 3
female_heights = variance * np.random.randn(200) + female_mean
male_heights = variance * np.random.randn(200) + male_mean

print(female_heights[:10])

[167.04215704 162.95047163 164.68621395 168.4726796  167.35267397
 158.81816636 164.60026525 161.29592838 161.44034344 162.98179551]

In [8]:
generated_data = {'gender' : ['female'] * 200 + ['male'] * 200, 'height' : list(female_heights) +list(male_heights)}

filtered_data = filtered_data.append(pd.DataFrame(generated_data), ignore_index = True, sort=False)
filtered_data.head()

       height  gender
0  178.200000    male
1  162.900000  female
2  160.600000  female
3  167.042157  female
4  162.950472  female

In [9]:
filtered_data.shape

(403, 2)

In [10]:
from sklearn import preprocessing

le_gender = preprocessing.LabelEncoder()
final_data = filtered_data.copy()
final_data['gender'] = le_gender.fit_transform(filtered_data['gender'])

final_data.tail()

         height  gender
398  175.915523       1
399  180.773772       1
400  181.623306       1
401  182.599736       1
402  180.757656       1

### Linear Regression

In [11]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

features = ['height']
kf = KFold(n_splits = 5, shuffle = True)

accrs = []
fold_idx = 1
for train_idx, test_idx in kf.split(final_data):
    print('fold {}'.format(fold_idx))
    train_d, test_d = final_data.iloc[train_idx], final_data.iloc[test_idx]
    
    train_y = train_d['gender']
    train_x = train_d[features]
    
    test_y = test_d['gender']
    test_x = test_d[features]
    
    model = LinearRegression()
    model.fit(train_x, train_y)
    
    mean_accr = model.score(test_x, test_y)
    accrs.append(mean_accr)
    
    fold_idx = fold_idx + 1
    
print(np.average(accrs))

fold 1
fold 2
fold 3
fold 4
fold 5
0.8763983144181949

### Logistic Regression

In [12]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression

features = ['height']
kf = KFold(n_splits = 5, shuffle = True)

accrs = []
fold_idx = 1
for train_idx, test_idx in kf.split(final_data):
    print('fold {}'.format(fold_idx))
    train_d, test_d = final_data.iloc[train_idx], final_data.iloc[test_idx]
    
    train_y = train_d['gender']
    train_x = train_d[features]
    
    test_y = test_d['gender']
    test_x = test_d[features]
    
    model = LogisticRegression(solver = 'lbfgs')
    model.fit(train_x, train_y)
    
    mean_accr = model.score(test_x, test_y)
    accrs.append(mean_accr)
    
    fold_idx = fold_idx + 1
    
print(np.average(accrs))

fold 1
fold 2
fold 3
fold 4
fold 5
0.9975308641975309